<div class="row">
    <h3>Biểu quyết vấn đề:</h3>
    <h5><%= vande %> - <%= noidung %></h5>
 
</div>
<div class="row col s12">
    <table class="striped">
        <thead>
            <tr>
                <td>Tổng cổ phần</td>
                <td>Số cổ phần tán thành</td>
                <td>Số cổ phần không tán thành</td>
                <td>Số phiếu trắng</td>
                <td>Số phiếu không hợp lệ</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= new Number(tongchot).toLocaleString('en-US') %></td>
                <td><%= new Number(tt).toLocaleString('en-US') %></td>
                <td><%= new Number(ktt).toLocaleString('en-US') %></td>
                <!-- <td><%= new Number(tt/tongchot*100).toFixed(6).toLocaleString('en-US') %>%</td>
                <td><%= new Number(ktt/tongchot*100).toFixed(6).toLocaleString('en-US') %>%</td> -->
                <td><%= new Number(tongchot - tt - ktt - khl).toLocaleString('en-US') %></td>
                <td><%= new Number(khl).toLocaleString('en-US') %></td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <span class="col s6">Tỷ lệ tán thành: <%= new Number(tt/tongchot*100).toFixed(2).toLocaleString('en-US') %>%</span> 
        <span class="col s6">Tỷ lệ không tán thành : <%= new Number(ktt/tongchot*100).toFixed(2).toLocaleString('en-US') %>%</span> 
    </div>
</br>
    <div class="row">
        <span class="col s6">Tỷ lệ phiếu trắng: <%= new Number((tongchot - tt - ktt - khl)/tongchot*100).toFixed(2).toLocaleString('en-US') %>%</span> 
        <span class="col s6">Tỷ lệ không hợp lệ : <%= new Number(khl/tongchot*100).toFixed(2).toLocaleString('en-US') %>%</span> 
    </div>
    
</div>