<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="../../materialize/css/materialize.min.css">

    <link rel="stylesheet" href="../../materialize/css/datatable.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
    <div class="container-fluid ">
        <!DOCTYPE html>
        <html>
          <head>
            <!--Import Google Icon Font-->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!--Import materialize.css-->
            <link rel="stylesheet" href="../materialize/css/materialize.min.css">
        
            <!--Let browser know website is optimized for mobile-->
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
          </head>
          <style>
            body{
              margin: 0 auto;
              
            width: 209.903mm;
            border: 1px solid black;
            padding-top: 1%;
            padding-left: 1%;
            }
            .row{
              margin-bottom: 13px;
              padding-left: 1%;
            }
            .container-fluid{
              padding: 3;
            }
          </style>
          <body style="font-family: Arial;">
            <div class="container-fluid background-master">
              <div class="row">
                <div class="col s12">
                  <img width="100%" src="../../logo/logo.png">
                </div>
              </div>
              <div class="row">
                <div class="col s2 center-align">
                  <h4 style="border:1px black solid; font-size: 20px;"><b>Số: <%= ID %></b></h4>
                </div>
                <div class="col s1"></div>
                <div class="col s5 center-align">
                  <h4 style="font-size: 20px;"><b>PHIẾU BẦU CỬ</b></h4>
                  <h6 style="font-size: 17px;"><b>ĐẠI HỘI CỔ ĐÔNG THƯỜNG NIÊN NGÀY 26/04/2020</b></h6>
                </div>
                <div class="col s4 center-align">
                  <img  width="70%" id="bar"/>
                </div>
              </div>
              <div class="row"  >
                <div class="col s12" style="margin-top: 1% !important;">
                  <h6>Nội dung: <b>Bầu cử ứng viên hội đồng quản trị nhiệm kỳ 2019-2024</b></h6>
                </div>
              </div>
             
              <div class="row">
                <div class="col s5" style="border: 1px black solid;  min-height: 250px; max-height: 250px;">
                 <div class="row"></div>
                  <div class="row" style="font-size:11px;">
                    <div class="col s6" >
                      <span >Họ tên đại biểu</span>
                    </div>
                    <div class="col s6"><%= Ten_Dai_Bieu %></div>
                  </div>
                  <div class="row" style="font-size:11px;">
                    <div class="col s6" >
                      <span>Số CMT/Số hộ chiếu</span>
                    </div>
                    <div class="col s6"><%= CMND %></div>
                  </div>
                  <div class="row" style="font-size:11px;">
                    <div class="col s6" >
                      <span >Số quyền đại diện</span>
                    </div>
                    <div class="col s6"><%= new Number(TongCP).toLocaleString('en-GB') %></div>
                  </div>
                  <div class="row" style="font-size:11px;">
                    <div class="col s6" >
                      <span >Số quyền bầu </span>
                      <p style="font-size: 9px; color:red">(=Số quyền đại diện x5 vị trí được bầu)</p>
                    </div>
                    <div class="col s6"><%= new Number(TongCP*songuoi).toLocaleString('en-GB') %></div>
                  </div>
                  <div class="row " style="font-size:11px;">
                    <div class="col s8"></div>
                    <div class="col s4"><b>Đại biểu</b>
                    </div>
                    <div class="col s7"></div>
                    <div class="col s5">(Ký và ghi rõ họ tên)</div>
                  </div>
                  <div class="row ">
                    <div class="col s7"></div>
                    <div class="col s5"></div>
                  </div>
                </div>
                <div class="col s0"></div>
                <div class="col s6" style="border: 1px black solid;font-size:11px; min-height: 250px;">
                  <div class="row center-align">
                    <div class="col s1"></div>
                    <div class="col s6"><b>Ứng viên</b></div>
                    <div class="col s5"><b>Số phiếu bầu</b></div>
                  </div>
                  
                  <div class="row center-align">
                    <div class="col s1">1</div>
                    <div class="col s6">PHẠM DUY MỸ EM</div>
                    <div class="col s5">...........</div>
                  </div>
                  <div class="row center-align">
                    <div class="col s1">2</div>
                    <div class="col s6">LÊ THỊ BÍCH HOA</div>
                    <div class="col s5">...........</div>
                  </div>
                  <div class="row center-align">
                    <div class="col s1">3</div>
                    <div class="col s6">PHẠM THỊ PHÚC</div>
                    <div class="col s5">...........</div>
                  </div>
                  
                </div>
              </div>
            </div>
            
            <!--JavaScript at end of body for optimized loading-->
            <script src="../materialize/js/jquery-3.4.1.min.js"></script>
            <script src="../materialize/js/materialize.min.js"></script>
            <script src="../materialize/js/customer.js"></script>
          </body>
        </html>
    </div>
    
    <!--JavaScript at end of body for optimized loading-->
    <script src="../../materialize/js/jquery-3.4.1.min.js"></script>
    <script src="../../materialize/js/datatable.min.js"></script>
    <script src="../../materialize/js/materialize.min.js"></script>
    <script src="../../materialize/js/customer.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jsbarcode/3.6.0/barcodes/JsBarcode.code39.min.js"></script>
    <script>
        $(document).ready(function(){
        JsBarcode("#bar","<%= Ma_Dai_Bieu %>")
        var data = $("#bar").attr('src')
        
        })
        </script>
  </body>
</html>